body {
    background-color: rgba( 39, 39, 39, 0.946);
}

.credits-container {
            height: 750px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(255, 221, 0);
            text-align: center;
        }

.credits-title 
{
    font-family: "Titan One", cursive;
    font-size: 68px;
    color: rgb(68, 0, 255);
    margin-bottom: 20px;
}

.credits-name 
{
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    color: white;
}

.voltar-button 
{
    font-size: 22px;
    padding: 10px 20px;
    border: 3px solid rgb(255, 221, 0);
    color: rgb(255, 221, 0);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}

.voltar-button:hover 
{
    background-color: rgb(255, 221, 0);
    color: rgb(30, 30, 30);
}